body {
    background-color: #ffffff;
    font-family: SourceSansPro, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 3px 0;
    cursor: pointer;
    font-family: SourceSansPro, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #32af32;
    border-color: #207020;
    color: #fff;
    transition: background-color 300ms ease-out
}

.btn:hover {
    background-color: #288c28;
}
.fa-plus-square-o {
    font-size: 3em!important;
}